.foldout-header {
	--anim-foldout-curve-return: cubic-bezier(.45,0,.26,1.02);
	--anim-foldout-dura: 500ms;

	padding-block: 0.5rem;
	display: flex;
	position: relative;
}

.foldout-header h1,
.foldout-header h2,
.foldout-header h3,
.foldout-header h4,
.foldout-header p,
.foldout-header span {
	padding: 0 !important;
	margin: 0 !important;
}

.foldout-header:hover {
	background-color: rgba(12,12,12,0.35);
	cursor: pointer;
	user-select: none;
}

.foldout-header::before {
	font-family: "Material Symbols Outlined";
	content: ">";
	content: '\e5e1';
	margin-inline: 8px;
	
	transition: transform calc(var(--anim-foldout-dura) / 2);
}

.foldout-header[data-folded-out='true']::before {
	transform: rotate(90deg);
}

.foldout-container {
	--anim-foldout-dura: 500ms;
	--anim-foldout-curve: cubic-bezier(.68,0,.4,.99);
	--anim-foldout-curve-return: cubic-bezier(.68,0,.4,.99);
	/*cubic-bezier(.14,.66,.28,.85);*/
	--foldout-container-natural-height: 500vh;

	margin-left: clamp(0px, 4vw, 1.5rem);
	max-height: var(--foldout-container-natural-height);

	overflow: hidden;
}

.foldout-container[data-folded-out='true'] {
	max-height: var(--foldout-container-natural-height);
	overflow: auto;
}

.foldout-container[data-folded-out='true']::before {
	transform: rotate(90deg);
}

.foldout-container[data-folded-out='false'] {
	max-height: 0;
	overflow: hidden;
}

.foldout-container[data-folded-out='false']::before {
	transform: rotate(0deg);
	transition: transform var(--anim-foldout-dura) var(--anim-foldout-curve);
}

.anim-foldout-out {
	animation: foldout-out var(--anim-foldout-dura) var(--anim-foldout-curve) forwards;
}

.anim-foldout-in {
	animation: foldout-in var(--anim-foldout-dura) var(--anim-foldout-curve-return) forwards;
}

.anim-foldout-before-out {
	animation: foldout-out-before var(--anim-foldout-before-dura) var(--anim-foldout-curve) forwards;
}

.anim-foldout-before-in {
	animation: foldout-in-before var(--anim-foldout-before-dura) var(--anim-foldout-curve-return) forwards;
}

@keyframes foldout-out-before {
	from { transform: rotate(0deg); }
	to { transform: rotate(90deg); }
}

@keyframes foldout-in-before {
	from { transform: rotate(90deg); }
	to { transform: rotate(0deg); }
}

@keyframes foldout-out {
	0% {
		max-height: 0;
		overflow: hidden;
	}
	99.9999% {
		overflow: hidden;
		max-height: var(--foldout-container-natural-height)
	}
	100% {
		max-height: var(--foldout-container-natural-height);
		overflow: auto;
	}
}

@keyframes foldout-in {
	from {
		max-height: var(--foldout-container-natural-height);
		overflow: hidden;
	}
	to {
		max-height: 0;
		overflow: hidden;
	}
}
