.custom-carousel[data-show-arrows="true"] .carousel-image-container {
	grid-column: 2 / 3;
}

.custom-carousel[data-show-arrows="false"] .carousel-navigator-arrow {
	display: none;
}

.custom-carousel[data-show-arrows="false"] .carousel-image-container {
	grid-column: 1 / 4;
}

.custom-carousel[data-show-nav="true"] .carousel-nav-group {
	display: flex;
}

.custom-carousel[data-show-nav="false"] .carousel-nav-group {
	display: none;
}

.custom-carousel {
  position: relative;
  width: 100%;
	height: fit-content;

	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 1fr 2rem;
	place-items: center;
	gap: 0.5rem;
}

.carousel-image-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	aspect-ratio: 16 / 9;
}

.custom-carousel img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
	object-fit: cover;
  transition: opacity 500ms;
	opacity: 0%;
	pointer-events: none;
	transition: 
		opacity 500ms,
		transform 200ms,
		transform-origin 200ms;
}

.custom-carousel img:hover {
	transition: 
		opacity 0ms,
		transform 0ms,
		transform-origin 0ms;
}

.custom-carousel img[data-carousel-selected="true"] {
	opacity: 100%;
	pointer-events: all;
}

.carousel-navigator-arrow {
	user-select: none;
  cursor: pointer;
  height: 100%;
	padding-inline: clamp(0.2rem, 2vw, 0.35rem);
  background-color: rgba(12,12,12,0.2);
  display: grid;
  place-items: center;
  color: white;
  top: 50%;
	cursor: pointer;
}

@media screen and (max-width: 650px) {
	.carousel-navigator-arrow {
		height: 100%;
	}

	.carousel-navigator-arrow {
		grid-row: 1 / 2;
	}

	.carousel-image-container {
		grid-row: 1 / 2;
		grid-column: 1 / 4;
	}

	.carousel-nav-group {
		display: none;
	}
}

.carousel-navigator-arrow:hover {
	background-color: rgba(12,12,12,0.5);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.magnifier {
  position: absolute;
  pointer-events: none; /* so it doesn't block the mouse */
  border: 2px solid #333;
  /* border-radius: 100%; */
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: 200%; /* controls zoom level */
  display: none;
}

.zoom-target {
  display: inline-block;
  transition: transform 0.2s ease;
  transform-origin: center center;
}

.carousel-nav-group {
	grid-column: 1 / 4;
	z-index: 2;

	display: flex;
	flex-direction: row;
	gap: clamp(1rem, 2vw, 1.5rem);

	transition: opacity 200ms;
	pointer-events: none;
}

.carousel-nav-group .nav-item {
		background-color: gray;
		transition: background-color 200ms;
		cursor: pointer;
		height: clamp(5px, 2vw, 10px);
		width: clamp(5px, 2.5vw, 50px);
		/* border-radius: 50%; */
		margin-block: 0.5rem;
}

.carousel-nav-group .nav-item:hover,
.carousel-nav-group .nav-item[data-nav-selected="true"] {
	background-color: white;
}

.custom-carousel:hover .carousel-nav-group {
	opacity: 1;
	pointer-events: all;
}
