.foldout-header {
	padding-block: 0.5rem;
	display: flex;
	position: relative;
}

.foldout-header h1,
.foldout-header h2,
.foldout-header h3,
.foldout-header h4,
.foldout-header p,
.foldout-header span {
	padding: 0 !important;
	margin: 0 !important;
}

.foldout-header:hover {
	background-color: rgba(12,12,12,0.35);
	cursor: pointer;
	user-select: none;
}

.foldout-header::before {
	font-family: "Material Symbols Outlined"; /* or "Material Icons" */
	content: ">";
	content: '\e5e1';
	margin-inline: 8px;
	transition: transform 200ms;
}

.foldout-header:has(+ .foldout-container[data-folded-out='true'])::before {
	transform: rotate(90deg);
}

.foldout-container {
	--anim-foldout-dura: 500ms;
	--anim-foldout-curve: cubic-bezier(.68,0,.4,.99);
	overflow: hidden;
}

.foldout-container[data-folded-out='true'] {
	max-height: 100vh;
}

.foldout-container[data-folded-out='false'] {
	max-height: 0;
	overflow: hidden;
}

.anim-foldout-out {
	animation: foldout-out var(--anim-foldout-dura) var(--anim-foldout-curve) forwards;
}

.anim-foldout-in {
	animation: foldout-in var(--anim-foldout-dura) var(--anim-foldout-curve) reverse;
}

@keyframes foldout-out {
	0% {
		max-height: 0;
		overflow: hidden;
	}
	99.9999% {
		overflow: hidden;
		max-height: 99.9999vh;
	}
	100% {
		max-height: 100vh;
		overflow: auto;
	}
}
